head, body
{
	margin: 30px;
	font-family:  Meiryo, gothic, sans-serif;
	color: #111;
}
body
{
    background-color: #fefefe;
}

b
{
	color: #000;
}

span.L, span.N, span.C, span.R
{
	border-radius: 3px;
	padding: 0 5px;
	text-decoration: none;
	margin: 0 5px;
}
span.L
{
	background-color: #adb9e6;
}
span.N
{
	background-color: #d7ade6;
}
span.C
{
	background-color: #add8e6;
}
span.R
{
	background-color: #eae192;
}
a:visited
{
    color: #4CAF50;
}

h1
{
    text-decoration: none !important;
}

p
{
	font-size: 110%;
	line-height:180%;
	padding-top: 10px;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

th
{
    background-color: #4CAF50;
    color: white;
	padding:8px;
}

td
{
	line-height:130%;
	padding: 8px;
}

tr:nth-child(even)
{
	background-color: #f2f2f2
}

input[type=text]
{
	border:1px solid #ddd;
	height: 28px;
	width: 84%;

}
input[type=submit]
{
	width: 15%;
	height: 30px;
}

footer
{
	margin-top: 20px;
	font-size: 80%;
}
