{% extends "base.html" %}

{% block content %}

	<div class="panel panel-default">
		<div class="panel-body">
			<h2>{{texts.title|safe}}</h2>

			<div class="well well-sm text-center">
				<span class='L'>Place name</span>
				<span class='N'>Personal name</span>
				<span class='C'>Group name</span>
				<span class='R'>Defined word</span>
			</div>


			<p>{{texts.text|safe}}</p>
		</div>
	</div>


	<table class="table table-striped table-hover">
		<tr class="active">
			<th>Word</th>
			<th>Definition</th>
		</tr>
		{%- for ex in examples %}
				<tr>
					{% if ex.word.definition %}
						<td><a href="/word/{{ex.word_id}}/">{{ex.word_id}}</a></td>
						<td>{{ex.word.definition|safe}}</td>
					{% endif %}
				</tr>
		{%- endfor %}
	</table>
{% endblock %}
