{% extends "base.html" %}

{% block content %}
  <article class="flashes">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <div class="alert alert-dismissible alert-danger">
          {% else %}
            <div class="alert alert-dismissible alert-info">
          {% endif %}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </article>

  {% if titles %}
    <h2>
      Articles
      {% if titlesQuery %}
        <small class="text-muted">Returned {{titlesQuery.count()}} results.</small>
      {% endif %}
    </h2>
    <table class="table table-striped table-hover">
      <tr class="default">
        <th>Article</th>
        <th>Title</th>
      </tr>

      {%- for article in titles %}
        <tr>
          <td><a href="/article/{{article.id}}/">{{article.id}}</a></td>
          <td>{{article.title|safe}}</td>
        </tr>
      {%- endfor %}
      </table>
  {% endif %}

  {% if words %}
    <h2>
      Words
      {% if wordsQuery %}
        <small class="text-muted">Returned {{wordsQuery.count()}} results.</small>
      {% endif %}
    </h2>
    <table class="table table-striped table-hover">
      <tr class="success">
        <th>Word</th>
        <th>Reading</th>
        <th>Frequency</th>
      </tr>

      {%- for word in words %}
        <tr>
          <td><a href="/word/{{word.word}}/">{{word.word}}</a></td>
          <td>{{word.reading}}</td>
          <td>{{word.frequency}}</td>
        </tr>
      {%- endfor %}
      </table>
  {% endif %}


{% endblock %}
