{% extends "base.html" %}

{% block content %}


	{%- for word in wordInfo %}
		<title>{{word.word}}</title>
		<h1>{{word.word}}
			{% if (word.reading) and (word.reading != word.word) %}
				- {{word.reading}}
			{% endif %}
			{% if word.alt %}
				【{{word.alt}}】
			{% endif %}
		</h1>
		{% if word.category %}
			<h4><a href="https://ja.wikipedia.org/wiki/{{word.word}}">
			{% if word.category == 'L' %}
				Proper noun: Country, prefecture, town, or place
			{% elif word.category == 'N' %}
				Proper noun: Personal name
			{% elif word.category == 'C' %}
				Proper noun: Company or group
			{% endif %}
			</a></h4>
		{% endif %}

		{% if word.definition %}
			<blockquote>{{word.definition|safe}}</blockquote>
		{% endif %}
	{%- endfor %}

	<div class="list-group">
		<a href="#" class="list-group-item active">
  		Example sentences from articles
  	</a>
		{% for sentence in sentences %}
			<a href="/article/{{sentence.newsid}}/" class="list-group-item">
				<h4 class="list-group-item-heading">{{sentence.title}}</h4>
				<p class="list-group-item-text text-success">{{sentence.sentence|safe}}</p>
			</a>
		{% endfor %}
	</div>


{% endblock %}
